extends layout

block content
    h1 Add a New Message
    form(action='/new', method='POST')
      label(for='author') Author's Name:
      input(type='text', name='author', id='author', placeholder='Enter your name')
      br
      label(for='message') Message Text:
      input(type='text', name='message', id='message', placeholder='Enter your message')
      br
      input(type='submit', value='Submit')

